body {
  background-color: #282c37;
  color: #9baec8;
  font: 16px/28px 'Montserrat', sans-serif;
  text-rendering: optimizelegibility;
}

h1 {
  color: #2b90d9;
  font: 46px/52px 'Roboto', sans-serif;
  font-weight: bold;
}

.reveal {
  display: none;
}

.show {
  animation: fadein 500ms;
  display: block;
}

@keyframes fadein {
  from { opacity: 0; }
  to   { opacity: 1; }
}

p {
  margin: 1em 0;
}

a, a:hover, a:visited {
  color: #2b90d9;
}
